*{
    margin:0;
    padding:0;

}
body{
    font-size: 20px;
}
#wrapper{
    margin:auto;
    box-sizing: border-box;
    background-color: #EEEEEE;
}
#header{
 
  display: flex;
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  background-color: #EEEEEE;
  padding:20px;
 
    
   

}

#header-img{
    
    height: 40px; 
    /* box-sizing: border-box; */

}
#email{
    padding:5px;
}
#nav-bar{
    position: relative;
    left:850px;
    /* margin-right:50px; */
    color: black;
    padding-top: 10px;
    
    

}
.nav-link{
    color:black;

}
#nav-bar:hover{
    cursor: pointer;
    
}


.nav-link{
    text-decoration: none;
    padding-left:60px;
    
}
#section1{
    padding:20px;
    margin-top:40px;
    margin-bottom:70px;
    text-align: center;

}
h1{
    margin:20px;
}
#form1{
    /* border: 2px solid green; */
    height: 50px;
}
#email{
   width:190px;
   height: 30px;
}
#submit{
    background-color: rgb(255, 166, 0);
    width:100px;
    color:black;
    font-weight:bolder;
    font-size:12px;
    border-style: none;
    padding:5px;
    margin-top:17px;
}
#nav-link:hover{
    cursor:pointer;
    background-color:rgb(255, 81, 0); 
}
.icon{
    color:rgb(255, 166, 0);;
    padding:20px;
    display:flex;
    
}
#section2{
    width: 50%;
    margin: auto;
}
.content{
    flex-direction: row;
    padding-left:50px;
}
h3,p{
    color:black;
}
#video{

    margin-top:40px;
    
}
#section3{
    display: flex;
     margin-top:80px;
     /* border:2px solid blue; */
    margin-bottom:200px;
    align-items:center;
    justify-content: center;
   
    
}
.box{
  
    text-align: center;
    line-height: 30px;
    padding-bottom: 25px;
    

}
.box-header{
    
    width: 100%;
    text-align: center;
    
    
   
}
.box-info{
    padding:30px;
}
#box1{
    margin-right: 30px;
}
#box2{
    margin-right: 30px;
}
.box-header{
    font-size:0.6em;
    background-color: rgb(203, 203, 207);
    position: relative;
    top:-20px;
    
}
#bass{
    font-size: 0.9em;
    background-color: rgb(255, 166, 0);
    border-style: none;
    /* font-weight: bold; */
    padding:5px;
    margin-top:20px;
}
#bass:hover{
    background-color:  rgb(255, 81, 0);;
}
#tenor{
    font-size: 0.9em;
    background-color: rgb(255, 166, 0);
    border-style: none;
    /* font-weight: bold; */
    padding:5px;
    margin-top:20px;
}
#tenor:hover{
    background-color:  rgb(255, 81, 0);;
}
#valve{
    font-size: 0.9em;
    background-color: rgb(255, 166, 0);
    border-style: none;
    /* font-weight: bold; */
    padding:5px;
    margin-top:20px;
}
#valve:hover{
    background-color:  rgb(255, 81, 0);;
}
#footer{
    background-color:rgb(203, 203, 207) ;
    /* width:50px; */
    height:60px;
    margin-bottom:20px;
    padding:15px;

}
.footer-link{
    text-decoration: none;
    position:inline;
    float:right;
    color:black;
    margin-right:30px;
    
    
}
#copyright{
    float:right;
    margin-right:28px;
    
}
@media (max-width: 800px) {
    h1,p,a,h3 {
    color: rgb(38, 0, 255);
    }


